* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
}

body {
    background-color: #192026;
    color: white;

    width: 1140px;
    margin: auto;

}

body p, a {
    color: #858585;
}

/*======HEADER======*/

header {
    width: 1274px;
    height: 48px;
}

header#header-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

div#header {
    display: flex;
}

div#player iframe {
    border-radius: 10px;
}

/*=====MAIN*======*/
main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    width: 370px;
    height: 809px; /*809*/

    position: absolute;
    top: 0;
    right: 180px;

    padding-top: 57px;
}

aside img {
    padding-bottom: 10px;
    padding-left: 10px;
}


div#infos-ep {
    display: flex;
    gap: 20px;

    padding-top: 40px;
}

div#infos-ep ul {
    padding-left: 20px;
}

div#infos-ep ul li h3{
    padding-bottom: 10px;
    padding-top: 25px;
}

div#infos-ep p {
    padding-bottom: 10px;  
}

div#sypnosis {
    width: 813px;
    height: 174px;
}

div#sypnosis h3 {
    padding-top: 27px;
}


footer p {
    height: 30px;
    text-align: center;
    background-color: #151a1e;
}
