@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
}

body {
    background-color: #192026;

    width: 1200px;

    margin: auto;
    
}

h1, h2, h3, p, a {
    color: white;
    
} 

h2 {
    font-family: 'Poppins', sans-serif;
}

header {
    padding-bottom: 20px;
}

header h1 {
    font-family: 'Poppins', sans-serif;
}

header a#search {
    background-color: #2f303b;
    text-align: center;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 80px;
    border-radius: 37px;
    
}

section#container-banner p {
    padding-bottom: 17px;
}

div#header-menu {
    display: flex;
    justify-content: center;

    gap: 400px;
} 

div#image-banner {
    width: 1170px;
    height: 400px;

    border-radius: 16px;
    box-shadow: inset 474px 0px 98px rgb(0 0 0 / 43%);
    background-image: url(spy_carousel\ 1.png);
}

div#text-banner {
    
    color: white;

    padding-top: 230px;
    padding-right: 537px;
    padding-left: 47px;
}

div#text-banner h3 {
    font-family: 'Poppins', sans-serif;

    padding-bottom: 16px;
    font-size: 36px;
}

div#text-banner p {
    max-width: 470px;
}

/*-----episode-----*/
section#container-cards h2 {
    padding-bottom: 15px;
    padding-top: 25px;
}

div#cards-flex {
    display: flex;
    gap: 1rem;

}

div.image-ep {
    width: 155px;
    height: 215px;
    border-radius: 12px;
    box-shadow: inset 10px 1000px 10px rgb(0 0 0 / 43%); /*fazer com que a sombra fique somente em baixo*/

    background-image: url(One-piece\ 1.png);
}

div.image-ep p {
    color: white;


    text-align: center;
    padding-top: 190px;
}

div .name-anime {
    text-align: center;
}