* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
}

body {
    background-color: #192026;
    color: white;

    width: 1140px;
    margin: auto;

}

/*======HEADER======*/

header {
    width: 1274px;
    height: 48px;
}

header#header-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

div#header {
    display: flex;
}

div#player iframe {
    border-radius: 10px;
}

/*=====MAIN*======*/
main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    width: 370px;
    height: 809px;

    position: absolute;
    top: 0;
    right: 0;
}


div#infos-ep {
    display: flex;
    gap: 20px;

    padding-top: 40px;
}

div#infos-ep ul {
    padding-left: 20px;
}

div#infos-ep ul li, h3, p{
    padding-bottom: 5px;
}

