* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#image-banner {
    width: 1170px;
    height: 400px;

    box-shadow: inset 474px 0px 98px rgb(0 0 0 / 43%);
    background-image: url(spy_carousel\ 1.png);
}

div#text-banner {
    
    color: white;

    padding-top: 270px;
    padding-right: 537px;
    padding-left: 47px;
}

div#text-banner h3 {
    padding-bottom: 16px;
    font-size: 36px;
}