* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
}

body {
    background-color: #192026;
    color: white;

    width: 1140px;
    margin: auto;

}

/*======HEADER======*/

div#header {
    display: flex;
}



/*=====MAIN*======*/
main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    width: 370px;
    height: 809px;

    position: absolute;
    top: 0;
    right: 0;
}
